<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<link rel="stylesheet" th:href="@{/css/search.css}"> 
</head>

<body>

	<div th:unless="${#strings.isEmpty(errorMessage)}">
		<div th:text="${errorMessage}" style="color:red"></div>
	</div>

	<div class="input-container">

		<form method="post" th:action="@{search}" th:object="${form}">
			<label for="full_name">ユーザー名</label>
			<input th:field="*{full_name}" type="text"></input>
			<button type="submit">検索</button>
		</form>

	</div>

	<div th:unless="${#lists.isEmpty(formList)}">
		<table>

			<thead>
				<tr>
					<th>ユーザー名</th>
					<th>挿入日</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="data : ${formList}">
					<td th:text="${data.fullName}"></td>
					<td th:text="${data.insert_date}"></td>
				</tr>
			</tbody>

		</table>
	</div>

</body>

</html>